<ion-header>
    <ion-navbar>
       <ion-title>New Hunt</ion-title>
    </ion-navbar>
 </ion-header>
 <ion-content padding>
    <form [formGroup]="formGroup" (ngSubmit)="saveHunt(formGroup.value)">
    <ion-item>
       <ion-label>Date</ion-label>
       <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item>
       <ion-label>Coveys Found</ion-label>
       <ion-item>
         <ion-badge color="secondary">{{coveyNum}}</ion-badge>
      </ion-item>
       <ion-range min="0" max="30" color="secondary" pin="true" [(ngModel)]="coveyNum" formControlName="coveysFound">
          <ion-icon small range-left name="custom-pheasantGroup-icon"></ion-icon>
          <ion-icon range-right name="custom-pheasantGroup-icon"></ion-icon>
       </ion-range>
       <div class="alert" *ngIf="!formGroup.controls['content'].valid
          && formGroup.controls['content'].touched">{{ coveysFoundAlert }}</div>
    </ion-item>
    <ion-item>
       <ion-label>Birds Taken</ion-label>
       <ion-range min="0" max="50" color="secondary" pin="true" [(ngModel)]="birdNum" formControlName="birdsTaken">
          <ion-icon small range-left name="custom-quail-icon"></ion-icon>
          <ion-icon range-right name="custom-quail-icon"></ion-icon>
       </ion-range>
       <div class="alert" *ngIf="!formGroup.controls['birdsTaken'].valid
          && formGroup.controls['content'].touched">{{ birdsTakenAlert }}</div>
    </ion-item>
    <ion-item>
       <ion-textarea type="text" placeholder="Add Note" name="content" formControlName ="content"></ion-textarea>
       <div class="alert" *ngIf="!formGroup.controls['content'].valid
          && formGroup.controls['content'].touched">{{ contentAlert }}</div>
    </ion-item>
    <ion-grid>
      <ion-row>
         <ion-col col-6>
            <button type="button" ion-button color="blazeorange"(click)="takePhoto()" full>
               Take Photo
               <br>
               <ion-icon class="ion-padding-end" name="camera"></ion-icon>
            </button>
         </ion-col>
         <ion-col col-6>
            <button type="button"  ion-button color="blazeorange"(click)="getImage()" full>
               Add Photo
               <br>
               <ion-icon name="image"></ion-icon>
            </button>
         </ion-col>
      </ion-row>
      <ion-row>
         <ion-col col-12>
            <button type="button" ion-button color="blazeorange"(click)="getLocation()" full>
               Geo-location
               <br>
               <ion-icon class="ion-padding-end" name="pin"></ion-icon>
            </button>
         </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <br>
    <p><img [src]="myPhoto" *ngIf="myPhoto"></p>
    <ion-input type="hidden" [value]="myPhoto" formControlName="myPhoto"></ion-input>
    <ion-input type="hidden" [value]="myLocation" formControlName="myLocation"></ion-input>
    <ion-grid>
      <ion-row>
         <ion-col col-4>
         </ion-col>
         <ion-col no-padding col-4>
            <button ion-button full color="secondary" type="submit" [disabled]="!formGroup.valid">Save Hunt</button>
         </ion-col>
         <ion-col col-4>
         </ion-col>
      </ion-row>  
    </ion-grid>
    </form>
 </ion-content>
 
