page-home {
    ion-header {
        text-align: center;
    }

    .toolbar-background {
        opacity: .98;
        border-bottom: .75px solid orange;
      }

    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
    

    ion-content {
        background: url(../assets/imgs/chukar_bg.jpg) no-repeat center fixed;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right:0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right, #02362C, #003199);
            opacity: .3;
        }

        ion-card {
            border: .75px solid orange;
            opacity: .75;
        }

        button {
            width: 180px;
        }
        img {
            border: .75px solid orange;
            border-radius: 3%;
            height: 100%;
            width: 100%;
        }
    }
}