page-view-hunt {

    .toolbar-background {
        opacity: .95;
        border: .75px solid orange;
      }

    ion-content {
        background: url(../assets/imgs/pheasant_feathers.jpg) no-repeat center fixed;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right, #02362C, #003199);
            opacity: .6;
        }
    }

    ion-card{
        border: .75px solid orange;
        
        display: flex;
        flex-direction: column;
        width: 100% !important;
        margin: 0 !important;
        
    }
    
    .notes {
        border-top: 1px solid orange;
        padding-top: 10px;
        text-align: center;
    }

    .hunt-date {
        border-bottom: 1px solid orange;
        padding-bottom: 10px;
    }
    
    .coords {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }

    img {
        border: .75px solid orange;
        border-radius: 1%;
    }
}
