// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*custom Ionicon icon*/
ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
    &[class*="custom-quail-icon"] {
        mask-image: url(../assets/icon/quail-icon.svg);
    }
    &[class*="custom-GSP-icon"] {
      mask-image: url(../assets/icon/GSP.svg);
    }
    &[class*="custom-Pointer-icon"] {
      mask-image: url(../assets/icon/Pointer.svg);
    }
    &[class*="custom-map-icon"] {
      mask-image: url(../assets/icon/map-icon.svg);
    }
    &[class*="custom-journal-icon"] {
      mask-image: url(../assets/icon/journal.svg);
    }
    &[class*="custom-pheasantGroup-icon"] {
      mask-image: url(../assets/icon/pheasant2.svg);
    }
    &[class*="custom-pheasant-icon"] {
      mask-image: url(../assets/icon/pheasant_icon.svg);
    }
    &[class*="custom-gsp_left-icon"] {
      mask-image: url(../assets/icon/gsp_left.svg);
    }
    &[class*="custom-gsp_right-icon"] {
      mask-image: url(../assets/icon/gsp_right.svg);
    }
}